@media (min-width: 1024px) {
    .contenedor ul li:nth-child(2) {
        background-color: rgb(194, 194, 194);
        font-weight: bold;
    }
    .panel1{
        width: 100%;
        margin-bottom: 30px;
        align-items: center;
        padding: 30px;
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;

    }
   
    .panel1 p{
        width: 800px;
        margin-right: 50px;
        padding: 0;
        line-height: 35px;
    }
    .panel2 p{
        margin-right: 10px;
        margin-left: 20px;
        padding: 0;
        line-height: 30px;
    }
    .panel2{
        width: 100%;
        margin-bottom: 30px;
        align-items: center;
        padding: 30px;
        display: flex;
        justify-content: center;
    }
    .panel3{
        width: 100%;
        margin-bottom: 30px;
        align-items: center;
        padding: 30px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;

    }
    .panel3 p{
        width: 800px;
        margin-right: 50px;
        padding: 0;
        line-height: 30px;
    }

    
    .img1{
        padding: 0;
        height: 400px;
    }
    .img2{
        padding: 0;
        height: 350px;
        
    }
    .img3{
        padding: 0;
        height: 300px;
    }
    .inicio,.ventajas {
        width: 60%;
        margin: auto;
    }
    .texto{
        padding: 20px;
    }
}
@media (min-width: 1440px){
    .img1{
        padding: 0;
        height: 500px;
    }
    .img2{
        padding: 0;
        height: 400px;
        
    }
    .img3{
        padding: 0;
        height: 400px;
    }
}

main {
    display: grid;
    justify-items: center;
    margin-bottom: 70px;
}

.texto {
    line-height: 30px;
    margin-top: -10px;
    width: 90%;
}

.inicio,.ventajas {
    border: 2px solid crimson;
    padding: 20px;
    font-weight: bold;
    text-align: center;
    font-size: calc(12px + 1rem);
}
.explicacion,.vtj1,.vtj2, .vtj3{
    padding: 20px;
    text-align: justify;
    font-size: calc(1px + 1rem);
}

.img0,.img1,.img2,.img3{
    padding: 20px;
    width: 100%;
}

